.searchMovie{
  width: 100%;
		min-height: 100vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
}
.inputSearch{
  width: 50% !important;
}
.cardSearch{
  height: 300px !important;
  width: 400px;
}