*{
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: #18181A;

}
@media screen and (max-width:600px) {
.container-flex{
  display: flex;
  flex-direction: column !important;
}
}