* {
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-color: #18181a;
}
@media screen and (max-width: 600px) {
	.container-flex {
		display: flex;
		flex-direction: column !important;
	}
	.w-card {
		width: 85% !important;
	}

}
@media screen and (max-width: 1500px) {
	.container-break{
		width: 1000px !important;
	}
}